.container {
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.imgHome {
    align-self: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 200px;
    height: 90px;
}