.card-container {
    display: flex;
    margin: 2em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: #8DBF41 solid;
    height: 400px;
}

.card-container img {

}



