.container input {
    text-align: center;
    height: 2.5em;
    margin-right: 2em;
    font-family: 'Pompiere', cursive;
}

.container button {
    height: 2rem;
    background-color: #BF1717;
    color: #F2E85C;
    cursor: pointer;
    font-family: 'Pompiere', cursive;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}